/* Global Styles */
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Braddon', 'Hurry Up', Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    background: #1B4D3E;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #E07A5F !important;
}

.nav-link {
    color: #E07A5F !important;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Form Styles */
h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    font-weight: 300; 
    font-size: 35px; 
    margin-bottom: 20px; 
    color:#FF1700; 
}

.form-control {
    border-radius: 10px; 
    border-color: #E07A5F; 
}

.form-control:focus {
    border-color: #FF1700; 
    box-shadow: 0 0 5px rgba(255, 23, 0, 0.5);
}

.submit {
    background-color: #1B4D3E; 
    color: #E07A5F; 
    font-weight: bold; 
    margin-top: 1rem; 
    padding: 10px 20px; 
    border-radius: 20px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.submit:hover {
    background-color: #E07A5F; 
    color: #1B4D3E; 
}

/* Footer Styles */
.footer {
    width: 100%; 
    background:#1B4D3E; 
    color:white; 
    padding-top:20px; 
}
