* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Braddon',Hurry Up;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: initial;
    color: #E07A5F;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 150px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #1B4D3E;
    z-index: 1;
    border-bottom:1px solid #E07A5F;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #E07A5F;
    font-weight: lighter;
    text-align: end;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: overline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 25px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #E07A5F;
}

.tengah {
    text-align: center;
    width: 100%;
}

@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(300deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(400px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 10em;
    line-height: 1em;
    color: #1B4D3E;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #E07A5F;
    color: transparent;
}
.banner .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
@media screen and (max-width: 1023px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    .banner .content h1{
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }
    .banner .content .author{
        color: #E07A5F;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
    .banner .content h1{
        font-size: 5em;
    }
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Braddon', 'Hurry Up', Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    background: #1B4D3E;
}

.navbar-brand {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: initial;
    color: #E07A5F !important;
}

.nav-link {
    color: #E07A5F !important;
}

.nav-link:hover {
    text-decoration: overline;
}

/* Form Styles */
h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    font-weight: 300; 
    font-size: 35px; 
    margin-bottom: 20px; 
    color:#1B4D3E; 
}

.form-control {
    border-radius: 10px; 
    border-color: #E07A5F; 
}

.form-control:focus {
    border-color: #FF1700; 
    box-shadow: 0 0 5px rgba(255, 23, 0, 0.5);
}

.submit {
    background-color: #1B4D3E; 
    color: #E07A5F; 
    font-weight: bold; 
    margin-top: 1rem; 
    padding: 10px 20px; 
    border-radius: 20px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.submit:hover {
    background-color: #E07A5F; 
    color: #1B4D3E; 
}

/* Footer Styles */
.footer {
    width: 100%; 
    background:#1B4D3E; 
    color:white; 
    padding-top:20px; 
}

.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #fff;
    background: #1B4D3E;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);;
}
.table-head{
    background: #E07A5F;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #E07A5F;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #1B4D3E;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}





h3 {
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    font-weight: 300; 
    font-size: 35px; 
    margin-bottom: 20px; 
    color:#1B4D3E; 
}

img {
    max-width: 100%;
    height: auto;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 1000;
    line-height: 1.4;
    margin: 10px 0;
}



/* *************** hero section ************ */


.post .post-title a {
    color: #E07A5F;
}

.post .post-title a:hover {
    color: #1B4D3E;
}

.post .meta {
    font-size: 15px;
    color: #1B4D3E;
}

.post.post-list-sm {
    clear: both;
}

.post.post-list-sm.circle .thumb {
    max-width: 100px;
}

.post.post-list-sm .thumb {
    float:left;
    position:relative
}


.post .thumb.circle .inner {
    overflow:hidden;
    border-radius: 100%;
}

.post.post-list-sm .post-title {
    font-size: 25px;
}

.post.post-list-sm::after {
    content: "";
    display: block;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 1000%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

/* Animation untuk Event */
@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-up {
    animation: fadeUp 0.8s ease forwards;
    opacity: 0; /* Default state sebelum animasi dijalankan */
  }
  


























