* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Braddon',Hurry Up;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: initial;
    color: #06FF00;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #000;
    z-index: 1;
    border-bottom:1px solid #DBFF3D;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #FFFF00;
    font-weight: lighter;
    text-align: end;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: overline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 25px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color:#06FF00;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 20px;
    color:#FF1700;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #7D0A0A;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink {
    background: #BF3131;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #F9B600;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

#kontak {
    background:#06FF00;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-family: 30px;
    margin-bottom: 20px;
    color: #F3EDC8;
    width: 100%;
    line-height: 50px;
}
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

form,
input, 
textarea,
button {
    font-family: inherit;
    font-size: initial;
}

.forms-group label {
    display: block;
    margin: 2rem 0 0.5rem 0;
}

.forms-group input[type="text"],
.forms-group input[type="email"],
.forms-group textarea {
    width: 100%;
    padding: 1rem 5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 1s;
}

.forms-group input[type="text"],
.forms-group input[type="email"] {
    height: 4.6rem;
}

.forms-group textarea {
    resize: vertical;
}

.submit {
    background: #FF1700;
    color: #FFFF00;
    font-weight: none;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: background 0.15s;
}

.submit:hover {
    background: #FFFF00;
    color: #FF1700;
}

.forms-group input[type="text"]:focus,
.forms-group input[type="email"]:focus,
.forms-group textarea:focus {
    border: 1px solid #FF1700S;
}
